.mainContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -2rem;
}
.secondaryContainer {
  text-align: center;
  padding-top: 0.9rem;
  height: 2.5rem;
  width: 10rem;
  border: 1px solid black;
}
