@font-face {
  src: url(../fonts/Copperplate.ttf);
  src: url(../fonts/Garamond.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
span {
  font-family: "Copperplate" !important;
}
ul {
  margin: auto;
  background-color: rgb(114, 149, 136) !important;
}
