.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstContainer {
  margin: 5rem;
  height: 70vh;
  width: 30rem;
  background-color: rgb(251, 250, 241);
}
.rulesOfPlay {
  color: rgb(255, 132, 94);
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  font-family: "Copperplate";
  font-weight: 400;
}
/* white */
/* background-color: rgb(251, 250, 241); */

/* red */
/* border: 1px solid rgb(255, 132, 94); */
