.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstContainer {
  margin: 5rem;
  height: 70vh;
  width: 30rem;
  background-color: rgb(251, 250, 241);
  border: 1px solid black;
}
.rulesOfPlay {
  color: rgb(255, 132, 94);
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  font-family: "Copperplate";
  font-weight: 400;
}
.individualRulesContainer {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.individualRule {
  color: rgb(5, 89, 5);
  font-family: "Copperplate";
  font-weight: 600;
}
.individualRuleInfo {
  color: rgb(5, 89, 5);
  font-family: "Copperplate";
  font-weight: 400;
  margin-bottom: 1rem;
}
.golfBallImage {
  width: 3rem;
  padding: 0rem;
}
.mainPictureContainer {
  display: flex;
  justify-content: center;
}
.pictureContainer {
  height: 5rem;
  width: 5rem;
  display: flex;
  margin: -1rem;
  align-items: center;
  justify-content: center;
}
.golfBallPicture {
  /* width: 12rem; */
  height: 1rem;
  padding: 0;
}
.readyForMore {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.readyForMoreTitle {
  text-align: center;
  font-family: "Copperplate";
  color: rgb(255, 132, 94);
  font-weight: 400;
}
/* white 
background-color: rgb(251, 250, 241); */

/* red 
 border: 1px solid rgb(255, 132, 94); */

/* mid green
color: rgb(5, 89, 5); */
